*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 100px;
    
    background-image: url("bgcollag111.jpg");
}
#search-form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
#temp{
    text-align: center;
}
#temp #temp-unit{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5rem;
    color: rgb(20, 20, 19);
}
#temp #temp-value{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2rem;
    color: rgb(5, 22, 27);
}
#climate{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2.5rem;
    color: rgb(241, 16, 16);
    text-align: center;
}
#location{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5rem;
    color: rgb(26, 23, 21);
    text-align: center;
}

#temp-icon{
    margin: 1rem;
    width:40%;
    height:auto;
}
main{
    padding: 20px;
    margin-top: 10px;
    background-color: rgba(177, 82, 75, 0.233);
    border-radius: 20px;
    width: 360px;
    height: 360px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 20px 20px rgba(112,102,152,132);
}
#search-button{
    color: rgb(15, 15, 14);
    text-transform: uppercase;
    text-decoration: none;
    background :rgb(104, 173, 212);
    border-radius: 5px;
    margin-left: 5px;
    padding: 11px;
    border: 2px solid #2ed2e7;
    display: inline-block;
    transition: all 0.4s ease 0s;
}
#search-button:hover{
    color: #ffff00;
    background: #494999;
    border-color: #ff5234;
    transition: all 0.4s ease 0s;
}
#search-input{
    width: 260px;
    overflow: hidden;
    font-size: 20px;
    margin: 8px 0;
    padding: 8px 0;
    border-bottom: 3px solid #2ff1a777;
    color: rgb(25, 26, 23);
    outline: none;
    background :none;
}
input{
    border:none;
}
